.modal-body {
  width: 700px;
  height: 500px;
}

.short-input{
  float:left;
  width: 80px;
}

.floating {
  float: left;
}

#alert {
  position: absolute;
  top: 100px;
  left: 30%;
  right: 30%;
  z-index: 9999;
}
